@font-face {
  font-family: "ErmilovFont";
  src: url("fonts/Ermilov-bold.otf") format("truetype");
}
body {
  background: linear-gradient(to right, #330d69, #2bacaf);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 48px;
  color: linear-gradient(to right, #725ce0 #84bcd2);
  font-family: "ErmilovFont", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h2 {
  font-size: 48px;
  color: linear-gradient(to right, #725ce0 #84bcd2);
  font-family: "ErmilovFont", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.welcome-text {
  font-size: 48px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.launcher-text {
  font-size: 48px;
  color: #FFFFFF;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #1E90FF;
  color: #1E90FF;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}
.button:hover {
  background-color: #1E90FF;
  color: #FFFFFF;
}
