@font-face {
  font-family: "CustomFont";
  src: url("fonts/Ermilov-bold.otf") format("truetype");
}

body {
      background: linear-gradient(to right, #330d69, #2bacaf);
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
}

h1 {
font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
