@font-face {
  font-family: "ErmilovFont";
  src: url("fonts/Ermilov-bold.otf") format("truetype");
}
body {
  background: linear-gradient(to right, #330d69, #2bacaf);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("images/fon-minecrafta.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 48px;
  color: linear-gradient(to right, #725ce0 #84bcd2);
  font-family: "ErmilovFont", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
.welcome-text {
      font-size: 48px;
      color: #FFFFFF;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      padding-top: 200px;
}
.launcher-text {
      font-size: 48px;
      color: #FFFFFF;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      margin-left: auto;
      margin-right: auto;
      text-align: center;
}
.button {
      display: inline-block;
      padding: 10px 20px;
      background-color: transparent;
      border: 2px solid blue;
      color: #FFFFFF;
      font-size: 24px;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color 0.3s ease, color 0.3s ease;
}
.button:hover {
      background-color: blue;
      color: #FFFFFF;
}
